* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(246, 245, 248);
    font-family: 'Montserrat', sans-serif;
    
}

h1, .nav-item, .btn, #header-citation{
    font-family: 'Architects Daughter', cursive; 
    color: #161A1D;
}
h2, h3 {
    color: #1d89be;
}


/* p{
    font-size: 1.5rem;
} */

/* .container-grille {
    display: flex;
    flex-direction: column;
    margin-top: -25px;
} */

/* CSS Carrousel */

.photocarroussel {
   
    height: 40vh;
    width: auto;
  
}

/* CSS du header */

header, footer {
    background-color:#d62839 ;
    /* justify-content: center;
    align-items: center;
    display: flex; */
    } 

#logo{
    max-width:  60%;
    border-radius: 50%;
    padding: 0.5em;
    }

/* Css barre de navigation */

.navbar-expand-md{
    flex-wrap: wrap;
    justify-content: flex-start;
}

.navbar {
    background-color:#161A1D ;
  
}   

.navbar-toggler {
    background-color:#161A1D;
     }
     

#menuhamburger .active {
    background-color:#f5f3f4;
    color: #161A1D;
    font-weight: bold;
   
}
.nav-item {
font-size: 1.5rem;
padding:0.3rem ;
}


/* CSS du main */

  main {
    background-color:#f5f3f4 ; 
   
} 
.valeurs{
    background-color:#b1a7a6 ;
}

.socials {
    color:#161A1D ;
    font-size: 1.8rem;
    padding: 10px 0;
    }

.socials i {
    font-size: 1.5rem;
    color:#161A1D#;
}
.socials {
    text-decoration: none;
    color: #D3D3D3;
    
}
.socials:hover{
    color: #D3D3D3;
}
h4 , #header-citation{
    color: #D3D3D3;
}
/* css page asso */

.membres{
    background-color:#D3D3D3;
}


/* css du formulaire */

.contact-form{
    background-color: #161A1D;
    color: #D3D3D3;
    margin-top:20px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px #161A1D;
}
hr{
    background: #D3D3D3;
}
.btn-custom{
    background-color: #D3D3D3;
    }
.btn-dark{
    background-color: #1d89be;
    color: #f5f3f4;
    
}

/* CSS Evenement */
.background-evenement, .card-body-event{
    background-image: url(images/fontevent.jpg);
    background-size: cover;
    color: #D3D3D3;
}
.presentation-evenement{
    background-color: rgb(245, 243, 244, 0.30);

}
.text-end{
    color: #d62839;
}

/* CSS du footer */

footer{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    height: 15wh;
    }


@media screen and (min-width: 768px) {
    .card-body-event{
        width: 75%;
    }
    .photos-event{
        width: 25%;
    }
}