.touch textarea._5xnw{border:none;padding:12px;resize:none;width:100%}._5xny .mentions-placeholder{padding:12px}._5xnx{background:black}._5xny{margin-bottom:8px}

#bootloader_HuJsK5t{height:42px;}.bootloader_HuJsK5t{display:block!important;}